[submodule "api/main/opentelemetry-cpp"]
	path = api/main/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.0.0/opentelemetry-cpp"]
	path = api/v1.0.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.1.0/opentelemetry-cpp"]
	path = api/v1.1.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.2.0/opentelemetry-cpp"]
	path = api/v1.2.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.3.0/opentelemetry-cpp"]
	path = api/v1.3.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.4.0/opentelemetry-cpp"]
	path = api/v1.4.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.5.0/opentelemetry-cpp"]
	path = api/v1.5.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.6.0/opentelemetry-cpp"]
	path = api/v1.6.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.7.0/opentelemetry-cpp"]
	path = api/v1.7.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.8.0/opentelemetry-cpp"]
	path = api/v1.8.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.9.0/opentelemetry-cpp"]
	path = api/v1.9.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.10.0/opentelemetry-cpp"]
	path = api/v1.10.0/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.11.0/opentelemetry-cpp"]
	path = api/v1.11.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.12.0/opentelemetry-cpp"]
	path = api/v1.12.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.13.0/opentelemetry-cpp"]
	path = api/v1.13.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.14.0/opentelemetry-cpp"]
	path = api/v1.14.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.14.1/opentelemetry-cpp"]
	path = api/v1.14.1/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.14.2/opentelemetry-cpp"]
	path = api/v1.14.2/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.15.0/opentelemetry-cpp"]
	path = api/v1.15.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.16.0/opentelemetry-cpp"]
	path = api/v1.16.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.16.1/opentelemetry-cpp"]
	path = api/v1.16.1/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "api/v1.17.0/opentelemetry-cpp"]
	path = api/v1.17.0/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
